.jumbotron{
    padding: 1%;
    margin-top: 15px;
}
/* h3{
    font-family: 'Special Elite', cursive;
    font-size: 56px;
    
}

h5{
    font-family: 'Special Elite', cursive;
    font-family: 'Allerta Stencil', sans-serif;
} */
.image{
    height:50em; 
    background-size:cover;
    width:auto;
    background-image:url('https://images.pexels.com/photos/327186/pexels-photo-327186.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position:50% 50%;
  }